outputs/hyswash_cases/*
outputs/openfoam_cases/*
inputs/scripts_hyswash/slurm-*.out
inputs/scripts_openfoam/slurm-*.out
logs/*
outputs/openfoam_cases_backup
outputs/openfoam_cases_backup/*
trash/*
trash